html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: #2F3035;
  font-family: 'SFProDisplay-Regular', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  margin-bottom: 78px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.menu__item {
  display: inline-block;
}

.menu__item+.menu__item {
  padding-left: 50px;
}

.menu__link {
  font-weight: 700;
}

.header__box {
  display: flex;
  justify-content: space-between;
}

.header__address {
  position: relative;
  margin-right: 86px;
  font-weight: 700;
  padding-left: 30px;
}

.header__address:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("../images/address.svg");
  background-repeat: no-repeat;
}

.user-list {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.user-list__item {
  padding-right: 10px;
}

.basket {
  position: relative;
}

.basket__counter {
  position: absolute;
  bottom: -3px;
  right: -14px;
  background-color: #1C62CD;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-family: 'SFProDisplay-Medium', sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
}

.menu-categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F0F0F4;
  padding: 15px 0;
}

.menu-categories__link {
  transition: all .3s;
  position: relative;
}

.menu-categories__link::before {
  content: "";
  position: absolute;
  bottom: -19px;
  left: auto;
  right: 0;
  width: 0;
  height: 3px;
  background-color: #1C62CD;
  transition: all .3s;
  transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
}

.menu-categories__link:hover::before {
  position: absolute;
  bottom: -19px;
  left: 0;
  right: auto;
  width: 100%;
  height: 3px;
  background-color: #1C62CD;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 77px;
}

.hero__banner-slider {
  max-width: 870px;
}

.hero__banner-slide__img {
  object-fit: contain;
  min-height: 400px;
}

.hero__banner-slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  z-index: 5;
  cursor: pointer;
}

.hero__banner-slider__btnprev {
  left: 20px;
}

.hero__banner-slider__btnnext {
  right: 20px;
}

.slick-dots {
  position: absolute;
  bottom: 45px;
  left: 0;
  right: 0;
  text-align: center;
}


.slick-dots li {
  display: inline-block;
  padding: 0 5px;
}

.slick-dots button {
  padding: 0;
  margin: 0;
  font-size: 0;
  width: 11px;
  height: 11px;
  border: 1px solid #fff;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.slick-active button {
  background-color: #fff;
}

.sale__item {
  max-width: 265px;
  text-align: center;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sale__item-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sale__item-price {
  text-align: right;
}

.sale__item-info {
  padding: 8px 20px;
  background-color: #1C62CD;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.price {
  font-family: 'Barlow', sans-serif;
}

.sale__item-new {
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  color: #1C62CD;
  padding-right: 20px;
  margin-right: 6px;
  position: relative;
}

.sale__item-new::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 18px;
  right: 0;
  bottom: 6px;
  background-image: url("../images/ruble-new.svg");
}

.sale__item-old {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
  position: relative;
  padding-right: 10px;
  margin-right: 8px;
}

.sale__item-old::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 9px;
  right: 0;
  bottom: 4px;
  background-image: url("../images/ruble-old.svg");
}

.sale__item-old::before {
  content: "";
  position: absolute;
  width: 57px;
  height: 20px;
  right: 6px;
  bottom: -3px;
  background-image: url("../images/old-price-line.svg");
}

.sale__item-img {
  object-fit: contain;
}
.sale__item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 7px;
}

.sale__item-footer {
  font-size: 18px;
  line-height: 21px;
  background: #F0F0F4;
  border-radius: 3px;
  padding: 25px 20px;
}

.sale__item-footer span {
  display: block;
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #1C62CD;
}