html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: #2F3035;
  font-family: 'SFProDisplay-Regular', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,h2,h3,h4,h5,h6,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0; 
  margin: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  margin-bottom: 78px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.menu__item {
  display: inline-block;
}

.menu__item + .menu__item {
  padding-left: 50px;
}

.menu__link {
  font-weight: 700;
}

.header__box {
  display: flex;
  justify-content: space-between;
}

.header__address {
  position: relative;
  margin-right: 86px;
  font-weight: 700;
  padding-left: 30px;
}

.header__address:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("../images/address.svg");
  background-repeat: no-repeat;
}

.user-list {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.user-list__item {
  padding-right: 10px;
}

.basket {
  position: relative;
}

.basket__counter {
  position: absolute;
  bottom: -3px;
  right: -14px;
  background-color: #1C62CD;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-family: 'SFProDisplay-Medium', sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
}

.menu-categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F0F0F4;
  padding: 15px 0;
}

.menu-categories__link {
  transition: all .3s;
  position: relative;
}

.menu-categories__link::before {
  content: "";
  position: absolute;
  bottom: -19px;
  left: auto;
  right: 0;
  width: 0;
  height: 3px;
  background-color: #1C62CD;
  transition: all .6s;
  transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
}

.menu-categories__link:hover::before {
  position: absolute;
  bottom: -19px;
  left: 0;
  right: auto;
  width: 100%;
  height: 3px;
  background-color: #1C62CD;
}


.menu-categories__link:hover {
  /* border-bottom: 3px solid #1C62CD; */
}